.grid-contain   {position: fixed;
                left:50%;
                transform: translate(-50%,0);
                display: grid;
                grid-template-columns: 33.33% 33.33% 33.34%;
                grid-template-rows: 33.33% 33.33% 33.34%;
                border-color: white;
                border-style: solid;}

.photo          {border-color: white;
                border-style: solid;}