.grid-contain   {display: grid;
                grid-template-columns: auto auto auto auto;
                border-color: white;
                border-style: solid;}

.photo          {border-color: white;
                border-style: solid;}