.grid-contain   {display: grid;
                
                grid-template-columns: 25% 25% 25%;
                grid-template-rows: 25% 25% 25% 25%;
                border-color: white;
                border-style: solid;}

.photo          {border-color: white;
                border-style: solid;}